.profile {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.profileImage {
    width: 100px;
    height: 100px;
    border-radius: 10%;
}

.profileHeader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.profileTitle {
    margin: 20px;
}

.socialMedia {
    margin-right: 10px;
}

.socialMediaIcon {
    margin: 0 10px;
}

.socialMediaIcon:hover {
    cursor: pointer;
}

@media (max-width: 600px) {
    .profileHeader {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
}

@media (prefers-color-scheme: dark) {
    .socialMedia img {
        -webkit-filter: invert(1);
        filter: invert(1);
    }
}
