.marqueeContainer {
  position: absolute;
  top: 0;
  right: 100px;
  width: 550px;
  height: 100%;
  overflow: hidden;
}

.marqueeContent {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
}

.animate {
  animation: scrollUp 600s linear infinite;
}

@keyframes scrollUp {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-50%);
  }
}

.photo {
  height: auto;
  border-radius: 15px;
  transition: all 0.3s ease-in-out;
  position: relative;
}

[data-theme="dark"] .photo {
  opacity: 0.5;
}

[data-theme="dark"] .photo:hover {
  opacity: 1;
  box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.2);
  transform: scale(1.05);
  z-index: 10;
}
