.project {
  height: 100%;
  color: var(--text-color);
  background-color: var(--background);
  border: 2px solid var(--primary-color);
  border-radius: 15px;
  padding: 1rem;
  transition: all 0.3s ease-in-out;
  margin: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project:hover {
  background-color: var(--foreground);
  color: var(--text-color);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  transform: translateY(-5px);
}

.project_title {
  font-size: 1.3rem;
  color: var(--primary-color);
  transition: color 0.3s ease-in-out;
}

.project:hover .project_title {
  color: var(--background-color);
}

.project_description {
  font-size: 1.1rem;
  transition: color 0.3s ease-in-out;
}

.project:hover .project_description {
  color: var(--background-color);
}

[data-theme="light"] .project {
  color: var(--text-color);
  border: 2px solid var(--primary-color);
}

[data-theme="light"] .project:hover {
  background-color: var(--primary-color);
  color: var(--background-color);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
