:root {
  --background: #f4f1e9;
  --foreground: #e9e2d7;
  --primary-color: #6a8e7f;
  --text-color: #5c554c;
  --background-color: #fcfaf6;
}

[data-theme="dark"] {
  --background: #2f4f4f;
  --foreground: #d3d3d3;
  --primary-color: #5f9ea0;
  --text-color: #f5f5dc;
  --background-color: #1a202c;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-nunito), sans-serif;
}

body {
  color: var(--text-color);
  background-color: var(--background-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
