:root {
  --background: #001122;
  --foreground: #334455;
  --primary-color: #87ceeb;
  --text-color: #f0f8ff;
  --background-color: #001122;
}

[data-theme="dark"] {
  --background: #0a2a0a;
  --foreground: #1a4a1a;
  --primary-color: #70c070;
  --text-color: #ffffff;
  --background-color: #0a2a0a;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-nunito), sans-serif;
}

body {
  color: var(--text-color);
  background-color: var(--background-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img[src$=".svg"] {
  filter: invert(1);
}
