.page {
  display: flex;
  height: 100vh;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-nunito), sans-serif;
  position: relative;
}

.main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

.contentContainer {
  max-width: 800px;
  width: 100%;
}

.intro,
.section:not(:last-child) {
  margin-bottom: 25px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.intro {
  display: flex;
  align-items: center;
  text-align: left;
}

.profileImage {
  border-radius: 30%;
  border: 8px solid var(--primary-color);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15), 0 4px 8px rgba(0, 0, 0, 0.1),
    inset 0 2px 4px rgba(255, 255, 255, 0.2);
  margin-right: 20px;
  flex-shrink: 0;
  transition: all 0.3s ease;
  position: relative;
  transform: scale(1.05) rotate(10deg);
}

.profileImage:hover {
  transform: scale(1.1) rotate(2deg);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2), 0 6px 12px rgba(0, 0, 0, 0.15),
    inset 0 2px 4px rgba(255, 255, 255, 0.3);
}

.introText {
  width: calc(100% - 150px);
  display: flex;
  flex-direction: column;
}

.name {
  font-size: 2.5em;
  font-weight: 800;
  margin: 0;
}

.subtitle {
  font-size: 1.2em;
  color: var(--primary-color);
  margin-top: 10px;
}

.socialMedia {
  margin-top: 10px;
  display: flex;
}

.socialMediaIcons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-right: 25px;
}

.socialMediaIcon:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: transform 0.2s;
}

.blogWidget {
  color: var(--primary-color);
  width: 100%;
  text-decoration: none;
  font-weight: 500;
  padding: 8px 12px;
  border: 2px solid var(--primary-color);
  border-radius: 4px;
  transition: all 0.2s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.blogWidget::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: var(--primary-color);
  transition: width 0.3s ease;
  z-index: -1;
}

.blogWidget:hover::before {
  width: 100%;
}

.blogWidget:hover {
  color: var(--background-color);
  transform: scale(1.05);
}

.bio {
  margin-bottom: 25px;
  border-radius: 12px;
}

.bioText {
  color: var(--text-color);
  font-size: 1.15em;
  text-align: justify;
  line-height: 1.6;
  margin: 0 0 12px 0;
}

.bioText:last-child {
  margin-bottom: 0;
}

.link {
  color: var(--primary-color);
  text-decoration: underline;
  font-weight: 600;
}

.link:hover {
  opacity: 0.8;
}

.sectionTitle {
  color: var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
  padding-bottom: 10px;
}

.text {
  font-size: 1em;
  line-height: 1.8;
}

.projectList {
  list-style-type: none;
  padding: 0;
}

.projectItem {
  margin-bottom: 30px;
}

.projectTitle {
  margin-bottom: 5px;
  color: var(--primary-color);
}

.contactLink {
  color: var(--primary-color);
  text-decoration: none;
}

.contactLink:hover {
  text-decoration: underline;
}

/* .marquee {
  width: 500px;
  height: 100vh;
  position: relative;
} */

/* Responsive adjustments */
@media (max-width: 800px) {
  .main {
    padding-left: 20px;
  }

  .contentContainer {
    padding-left: 20px;
  }

  /* .marquee {
    display: none;
  } */

  .intro {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .profileImage {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .introText {
    align-items: center;
  }
}

/* @media (max-width: 1200px) {
  .marquee {
    width: 30%;
  }
} */

[data-theme="dark"] .socialMedia img {
  filter: invert(1);
}
