.page {
  display: flex;
  height: 100vh;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-arial-rounded), Arial, Helvetica, sans-serif;
  position: relative;
}

.main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  overflow-y: auto;
}

.contentContainer {
  max-width: 500px;
  width: 100%;
}

.intro,
.section:not(:last-child) {
  margin-bottom: 25px;
}

.intro {
  display: flex;
  align-items: center;
  text-align: left;
}

.profileImage {
  border-radius: 50%;
  border: 4px solid var(--highlight-color);
  margin-right: 20px;
  flex-shrink: 0;
}

.introText {
  display: flex;
  flex-direction: column;
}

.name {
  font-size: 2.5em;
  margin: 0;
}

.subtitle {
  font-size: 1.2em;
  color: var(--primary-color);
  margin-top: 10px;
}

.socialMedia {
  margin-top: 10px;
  display: flex;
  gap: 20px;
  align-items: center;
}

.socialMediaIcon:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: transform 0.2s;
}

.sectionTitle {
  color: var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
  padding-bottom: 10px;
}

.text {
  font-size: 1em;
  line-height: 1.8;
}

.projectList {
  list-style-type: none;
  padding: 0;
}

.projectItem {
  margin-bottom: 30px;
}

.projectTitle {
  margin-bottom: 5px;
  color: var(--primary-color);
}

.contactLink {
  color: var(--primary-color);
  text-decoration: none;
}

.contactLink:hover {
  text-decoration: underline;
}

.marquee {
  width: 50%;
  height: 100vh;
  position: relative;
}

/* Responsive adjustments */
@media (max-width: 1200px) {
  .marquee {
    width: 40%;
  }
}

@media (max-width: 800px) {
  .main {
    padding-left: 20px;
  }

  .contentContainer {
    padding-left: 20px;
  }

  .marquee {
    display: none;
  }

  .intro {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .profileImage {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .introText {
    align-items: center;
  }
}

[data-theme="dark"] .socialMedia img {
  filter: invert(1);
}
