.widget {
  max-width: 800px;
  padding: 1rem;
}

.widgetHeader {
  display: flex;

  color: #ec3750;
  background-color: white;
  border-radius: 9999px;
  padding: 1rem;
  margin: 1rem 0;
}

.widgetTitle {
  margin: 0 1rem;
}

.widgetToggle:active {
  transform: scale(1.1);
}

.widgetBody {
  margin: 1rem 0;
  padding: 1rem;

  border: 4px solid #eaeaea;
  border-radius: 10px;
}

.link {
  display: inline-block;
  position: relative;
  color: inherit;

  text-decoration: none;
}

.link:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.link:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}