.profile {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.profileImage {
    width: 100px;
    height: 100px;
    border-radius: 10%;
}

.profileHeader {
    display: flex;
    margin: 20px 0;
    align-items: center;
    flex-grow: 1;
}

.profileTitle {
    margin: 20px;
}

.oneliner {
    display: inline-block;
}

.cursor {
    color: #ec3750;
    font-weight: bold;
    animation: blink 0.75s step-end infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.socialMedia {
    margin-right: 10px;
}

.socialMediaIcon {
    margin: 0 10px;
}

.socialMediaIcon:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.2s;
}

.underline_on_hover {
    display: inline-block;
    position: relative;
    color: #ec3750;
}

.underline_on_hover::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ec3750;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.underline_on_hover:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

@media (max-width: 600px) {
    .profileHeader {
        flex-direction: column;
        align-items: center;
    }
}

@media (prefers-color-scheme: dark) {
    .socialMedia img {
        filter: invert(1);
    }
}
