.container {
  display: block;
  margin: 2rem auto;
  max-width: 800px;
  width: 100%;
}

.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  margin: 2rem 0;
}

@media (max-width: 768px) {
  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .projects {
    grid-template-columns: repeat(1, 1fr);
  }
}
