.project {
  height: 100%;
  color: #fff;
  border: 3px solid #fff;
  border-radius: 20px;
  padding: 1rem;
}

.project:hover {
  background-color: #fff;
  color: #a633d6;
  box-shadow: 0 0 10px 0 #a633d6;
  transform: translate(-5px, -5px);
  transition: all 0.2s ease-in-out;
}

.project_title {
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

.project_description {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

@media (prefers-color-scheme: light) {
  .project {
    color: #000;
    border: 3px solid #000;
  }

  .project:hover {
    background-color: #a633d6;
    color: #fff;
    box-shadow: 0 0 10px 0 #fff;
  }
}
