.soon {
  width: 100%;
  max-width: 800px;
}

.soonText {
  background-image: linear-gradient(180deg, #a633d6, #a633d6);
  background-repeat: no-repeat;
  background-position: 4px bottom;
  background-size: 100% 10px;
  text-decoration: none;
}

.quoteContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  padding: 1rem;
}

.quoteText {
  color: #a633d6;
  font-style: italic;
  margin: 0;
}

.quoteAuthor {
  font-size: 1rem;
  font-weight: bold;
  margin-top: 1rem;
}

@media (prefers-color-scheme: light) {
  .soonText {
    color: #a633d6;
    background-image: none;
  }
}
