.container {
    width: 100%;
    max-width: 800px;

    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;

    height: 100%;
    padding: 1rem;
    background: #1e1e1e;
    border-radius: 1rem;
}

.header {
    display: flex;
}

.logo {
    margin-right: 0.5rem;
    filter: invert(1);
}

.title {
    font-size: 1.2rem;
}

.underline_on_hover {
    display: inline-block;
    position: relative;
    color: #ec3750;
}

.underline_on_hover::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ec3750;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.underline_on_hover:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

@media (prefers-color-scheme: light) {
    .title {
        color: #fff;
    }
}