.tabs {
  display: flex;
  align-items: flex-end;
  margin-top: 40px;
  width: 100%;
  max-width: 800px;
  overflow-x: auto;
  white-space: nowrap;
}

.tab {
  padding: 10px 20px;
  cursor: pointer;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-top: 3px solid black;
  border-left: 3px solid black;
  border-right: 3px solid black;
  font-size: 16px;
  font-weight: bold;
  margin-right: 5px;
  margin-bottom: -1px;
  transition: background-color 0.3s ease;
  display: inline-block;
}

.tab.active,
.tab:hover {
  background: #9900ff;
  color: white;
}

.tabContent {
  max-width: 800px;
  margin: 0 auto;
  border-top: 3px solid black;
  padding: 20px;
}

@media (prefers-color-scheme: dark) {
  .tab {
    background: #222;
    border-top: 3px solid white;
    border-left: 3px solid white;
    border-right: 3px solid white;
  }

  .tab.active,
  .tab:hover {
    background: #555;
  }

  .tabContent {
    border-top: 3px solid white;
  }
}

@media (max-width: 800px) {
  .tabs {
    margin-top: 20px;
    justify-content: center;
  }

  .tabContent {
    padding: 15px;
  }
}
